[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
codebox = {path = ".", editable = true}
pytest = "*"
pytest-cov = "*"
sphinx = "*"
recommonmark = "*"
pylint = "*"

[packages]
pyyaml = "*"
jinja2 = "*"

[scripts]
test = "pytest --verbose --cov codebox"